@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import url(reset.css);

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
button {
  font-family: "Oswald", sans-serif;
}

main {
  background-color: #f9f9f9;
  overflow: hidden;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 820px;
  gap: 55px;
}
.app-logo {
  width: 64px;
  height: 64px;
}
.app-logo--small {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.app-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
}

.app-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.app-section__button {
  background-color: #55c2d8;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.app-header {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 0 140px;
}

.app-header__logo {
  color: white;
  justify-self: flex-start;
  align-self: flex-end;
  font-size: initial;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
}

.app-header__nav {
  display: inline-block;
}

.app-header__logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.app-header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  justify-items: center;
  padding: 0;
  margin: 55px 0 0 0;
  list-style: none;
}

.app-header__nav-list-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.app-header__nav-list-item a:hover {
  text-decoration: underline;
}

.app-header__nav-list-item a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.app-header__nav-menu-button {
  align-self: flex-end;
  display: none;
  justify-self: end;
  transition: all 0.25s ease-out;
}

.app-header__nav-menu-button-icon {
  color: #fff;
  font-size: 2.3rem;
}

.app-section--image-peak {
  background: linear-gradient(
      to top,
      rgba(65, 65, 65, 0.1),
      rgba(65, 65, 65, 0.1)
    ),
    url(../assets/background.png) no-repeat center/cover;
  display: flex;
  height: 820px;
  color: white;
  max-width: 100%;
}
.app-title__section-headline {
  color: #464547;
}
.app-title__subsection-headline {
  color: #666666;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 90px;
  margin: 0 140px;
}

.app-section__button--read-more {
  border-radius: 26px;
  font-size: 14px;
  height: 46px;
  letter-spacing: 1.2px;
  margin: 60px auto 108px;
  text-transform: uppercase;
  width: 135px;
}

.app-section__button--read-more:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(15deg);
  transform-origin: 0 50%;
}

.app-section--image-culture {
  background: linear-gradient(
      to top,
      rgba(65, 65, 65, 0.3),
      rgba(65, 65, 65, 0.3)
    ),
    url(../assets/background-component3.png) no-repeat center/cover;
  height: 637px;
  max-width: 100%;
  color: white;
}

.app-section__button--our-culture {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 64px auto;
  padding: 0;
  font-size: 4rem;
}
.app-section__button--our-culture:hover {
  background-color: #fff;
  color: #39c2d7;
  transform: scale(0.98);
}

.app-logo__main {
  transition: transform 0.7s ease-in-out;
  transform: scale(1.3);
}

.app-logo__main:hover {
  transform: scale(1.6) rotateY(180deg);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveLeft {
  100% {
    transform: translateX(-20px);
  }
}

.app-animation {
  position: absolute;
  right: -12px;
  width: 102%;
  animation: flickerAnimation 3s ease-in-out infinite;
}
.app-animation_2 {
  position: absolute;
  width: 102%;
  right: -12px;
  animation: moveLeft 3s ease-in-out alternate infinite;
}

.app-footer {
  min-height: 170px;
  background: #464547;
  color: #fff;
}

.app-footer__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
}

.app-footer__address,
.app-footer__mail,
.app-footer__rights {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.app-footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app-footer__mail {
  cursor: pointer;
}
.app-footer__paragraph {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .app-section--image-peak {
    background-size: 100% 100%;
  }
  .app-header__nav-menu-button {
    display: block;
  }
  .app-header__nav {
    display: none;
  }
  .app-header {
    display: flex;
    justify-content: space-between;
  }
  .app-section {
    gap: 10px;
  }

  .app-section--image-peak {
    height: 548px;
  }
  .app-section--image-culture {
    height: 698px;
  }

  .app-animation {
    right: -1px;
    width: 97%;
    height: 25%;
  }
  .app-animation_2 {
    width: 100%;
    right: 0;
    height: 24.8%;
  }
}
